* {
    margin: 0; 
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(download\ \(2\).jpg);
    background-color: black;
    background-repeat: no-repeat; 
    background-size: cover;
    color: white; 
    padding-top: 1px;
}

h1 {
    position: fixed;
    text-align: center;
    left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.377);
    padding: 50px;
}

.contact {
    position: relative;
    margin: 200px auto;
    width: 50%; height: 300px;
    padding: 28px;
    background-color: black; 
    border: 1px solid red;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.521);
    
    border-radius: 15px;
    overflow: auto;
}

.image {
    float: left;
    width: 200px; height: auto;
    margin-bottom: 50%; 
}

.profile-details {
    text-align: center;
    width: 50%; 
    padding: 10px;
    margin-left: 10%;
}
p {
    line-height: 150%;
    text-align: justify;
}
.profile-details h2 {
    margin-bottom: 10px;
    letter-spacing: 5%; text-transform: uppercase; font-size: 180%;
}

.profile-details h4 {
    margin-bottom: 20px;
}

.contact-details {
    position: absolute;
    top: 30%;
    right: 8%;
    border-left: 1px red solid;
    padding-left: 20px;
}
.contact-details h3 {
    margin-bottom: 10%;
}
.contact-details p{
    margin-bottom: 2%;
}